
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <div class="navbar-brand">
                    Asset Audit</div>
        
        
        
                <ul class="navbar-nav navbar-collapse justify-content-end">
                        <li><a *ngIf="!this.email" href="/login" class="nav-link">Login</a></li>
                        <li><a *ngIf="!this.email" href="/register" class="nav-link">SignUp</a></li>
                        <li><a *ngIf="this.email" href="/logout" class="nav-link">Logout</a></li>
                </ul>
            </nav>
            <h1>{{userType}} Screen!</h1>
            
         
          
 <div *ngIf="userType==='Admin'">
          You can manage your asset <a routerLink="/assets">here</a> 

</div>
<div *ngIf="userType==='Verifier'">
    For Verification click <a routerLink="/assetVerifier">here</a> 
    </div>
